version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: user_ingress
    environment:
      POSTGRES_DB: user_ingress
      POSTGRES_USER: postgres-user
      POSTGRES_PASSWORD: postgres-password
    ports:
      - "5430:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: