version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: ms-user-db
    environment:
      POSTGRES_DB: ms_user_ms
      POSTGRES_USER: postgres-user
      POSTGRES_PASSWORD: postgres-password
    ports:
      - "5430:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: