version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: emails_ingress
    environment:
      POSTGRES_DB: emails_ingress
      POSTGRES_USER: postgres-user
      POSTGRES_PASSWORD: postgres-password
    ports:
      - "5431:5432"
    volumes:
        - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: